.boardContainer {
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
}

.boardContainer table {
  margin-top: 30px;
  display: inline-block;
}

.boardContainer thead th {
  height: 40px;
  border-top: 2px solid #09c;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 17px;
}

.boardContainer tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  height: 20px;
  font-size: 14px;
}

/* 자유계시판 글쓰기 버튼 스타일 */
.boardContainer div {
  margin-top: 20px;
  margin-left: 1050px;
}

.boardContainer div a button {
  border: 0;
  background: rgb(38, 146, 71);
  border-radius: 4px;
  box-shadow: 0 5px 0 rgb(38, 146, 71);
  color: #fff;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 12px 20px;
  transition: all 0.05s linear;
  font-weight: 900;
}

.boardContainer div a button:hover {
  box-shadow: 0 2px 0 rgb(38, 146, 71);
  transform: translateY(3px);
}
