.broadcastContainer {
  float: left;
  margin-left: 200px;
  width: 1050px;
  height: 800px;
  margin-bottom: 150px;
}

#player {
  width: 1050px;
  height: 800px;
}

.overlay {
  text-align: center;
  position: absolute;
  top: 500px;
  right: 700px;
}

.overlay img {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.overlay small {
  display: inline-block;
  color: white;
  position: relative;
}

.chatBox {
  float: right;
  margin-right: 200px;
}

.messageContainer {
  width: 400px;
  height: 700px;
  background-color: white;
  padding: 10px;
}

.messageContainer div {
  margin-top: 5px;
}

.messageContainer div small {
  font-weight: 800;
  display: inline-block;
}

.messageContainer main {
  display: inline-block;
  margin-top: 5px;
  background-color: grey;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.messageContainer main p {
  font-weight: 530;
}

.messageForm {
  margin-top: 10px;
}

.messageForm input[type="text"] {
  width: 300px;
  height: 50px;
}

.messageForm button {
  margin-left: 5px;
  border: 0;
  background: rgb(38, 146, 71);
  border-radius: 4px;
  box-shadow: 0 5px 0 rgb(38, 146, 71);
  color: #fff;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 10px 12px;
  transition: all 0.05s linear;
  font-weight: 900;
}
