.homeMainBoard {
  height: auto;
  width: auto;
  text-align: center;
  padding: 10px;
}

.homeMainBoard div {
  display: inline-block;
  /* 지우자~ */
  width: 1000px;
  padding: 30px;
  text-align: center;
  /* border: 3px;
  border-style: solid; */
  /* border-color: white;
  background-color: white;
  box-shadow: 5px 5px 5px gainsboro; */
}

.cookieContainer {
  height: 80px;
  position: relative;
  top: -30px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #2f3640;
  color: #f5f6fa;
  padding: 20px;
  transition: 400ms;
}

.btnContainer {
  width: 100%;
  margin-bottom: 150px;
}

.btnContainer input {
  float: right;
  background-color: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 800;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btnContainer input:hover {
  background-color: yellowgreen;
}

.bestBrandContainer {
  width: auto;
  height: auto;
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px 5px gainsboro;
}

.bestBrandContainer figure {
  width: 250px;
  margin: 20px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
}

.bestBrandContainer figure img {
  width: 250px;
  height: 250px;
}

.boardContainer {
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 10px;
  border: 3px;
  border-style: solid;
  border-color: white;
  background-color: white;
  box-shadow: 5px 5px 5px gainsboro;
}

.moreInfo a {
  margin-right: 50px;
  float: right;
}

.boardContainer table {
  padding: 20px;
  display: inline-block;
}

.boardContainer thead th {
  height: 40px;
  border-top: 2px solid rgb(145, 165, 145);
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 17px;
}

.boardContainer tbody td {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  height: 20px;
  font-size: 14px;
}

.tapBtnContainer button {
  float: left;
  margin-right: 15px;
  min-width: 100px;
  height: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  background-color: #eee;
}

.tapBtnContainer button:hover {
  background-color: #d7d4d4;
}

.tapBtnContainer button.active {
  background-color: #d7d4d4;
}
