.homeMainBoard {
  height: auto;
  width: auto;
  text-align: center;
  padding: 10px;
}

.homeMainBoard div {
  display: inline-block;
  width: 1000px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: white;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 5px 5px 5px gainsboro;
}

.cookieContainer {
  height: 80px;
  position: relative;
  top: -30px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #2f3640;
  color: #f5f6fa;
  padding: 20px;
  transition: 400ms;
}

.btnContainer {
  margin-top: 20px;
  width: 100%;
}

.btnContainer input {
  float: right;
  background-color: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 800;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btnContainer input:hover {
  background-color: yellowgreen;
}
