.bestBrandContainer {
  width: auto;
  height: auto;
  margin-left: 400px;
  margin-right: 400px;
  height: 300px;
  padding: 20px;
  text-align: center;
}
.bestBrandContainer div,
.brandContainer div {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: rgb(211, 199, 199);
  border-radius: 10px;
}

.bestBrandContainer figure {
  width: 250px;
  margin: 20px;
  display: inline-block;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
}

.bestBrandContainer figure img {
  width: 250px;
  height: 250px;
}

.brandContainer {
  margin-top: 250px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 150px;
  text-align: center;
}

.recentBrandContainer {
  width: auto;
  text-align: center;
}

.recentBrandContainer figure {
  margin: 20px;
  display: inline-block;
  width: 500px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.recentBrandContainer figure img {
  width: 300px;
  height: 300px;
}

.recentBrandContainer figure i {
  margin-top: 30px;
  font-size: 40px;
}

.recentBrandContainer figure figcaption {
  font-size: 20px;
  font-weight: 800;
}

.recentBrandContainer figure button {
  position: relative;
  top: -8px;
  margin-left: 20px;
  border: 0;
  background: rgb(38, 146, 71);
  border-radius: 4px;
  box-shadow: 0 5px 0 rgb(38, 146, 71);
  color: #fff;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 10px 12px;
  transition: all 0.05s linear;
  font-weight: 900;
}

.recentBrandContainer figure button:disabled {
  background: red;
  box-shadow: 0 5px 0 red;
}

.highRatedContainer {
  width: auto;
}

footer {
  width: 100%;
  height: 150px;
}

/* .tabBtnContainer {
  margin-top: 50px;
  margin-left: 100px;
}

.tabBtnContainer button {
  float: left;
  margin-right: 15px;
  min-width: 100px;
  height: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  background-color: #eee;
}

.tabBtnContainer button:hover {
  background-color: #d7d4d4;
}

.tabBtnContainer button.active {
  background-color: #d7d4d4;
} */
